@model SudokuBasis.SudokuGame

@{
    ViewBag.Title = "Sudoku";
}

<h2>Sudoku Spel</h2>

@if (!Model.IsValid())
{
    <script type="text/javascript">
        alert("Het ingevoerde getal klopt niet.");
    </script>
}

@if (Model.IsCompleted())
{
    <script type="text/javascript">
        alert("Gefeliciteerd! Je hebt de sudoku opgelost!");
    </script>
}

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">
    var indexx, indexy, indexvalue;
    $(document).ready(function () {
        
        $("tr").on("click", "td", function () {
            //change colors of selected field
            $(".selected").removeClass("selected");
            $(this).addClass("selected");

            //what field is selected now? What value does it contain?
            indexx = $(this).index() + 1;
            indexy = $(this).parent("tr").index() + 1;
            indexvalue = $(this).html();

            //test code
            console.log("index-x: " + indexx + " index-y: " + indexy + " value: " + indexvalue);

            //make input div visible
            $("#inputfield").val(indexvalue);
            $("#inputdiv").css("visibility", "visible");
        });

        $("#inputbutton").click(function () {
            indexvalue = $("#inputfield").val();
            location.href = "/Home/SetValue/?indexx=" + indexx + "&indexy=" + indexy + "&value=" + indexvalue;
        });

    });
</script>

<table border="1" cellpadding="10">
    @{
        for (int i = 0; i < 81; i++)
        {
            short x = (short) ((i % 9) + 1);
            short y = (short) ((i / 9) + 1);
            if (x == 1)
            {
                @Html.Raw("<tr>")
            }
            SudokuBasis.Position pos = new SudokuBasis.Position()
            {
                X = x,
                Y = y
            };
            Model.GetValue(pos);
            @Html.Raw("<td align='center' width='50' height='50'>" + pos.Value + "</td>");
            if (x == 9)
            {
                @Html.Raw("</tr>")
            }
        }
    }
</table>
<hr />
<div id="inputdiv" style="visibility:hidden">
    <input type="text" min="0" max="9" id="inputfield" />
    <input type="button" value="instellen" id="inputbutton"/>
</div>
<hr/>
<input type="button" value="Nieuw Spel" onclick="location.href='@Url.Action("NewGame", "Home")'" />
<input type="button" value="Valsspelen" onclick="location.href='@Url.Action("Hint", "Home")'" />




















